{% load static %}

<div class="row">
  <div class="col-sm-6 rating-container czech d-flex justify-content-between">
    <div class="skill-name-container">Czech</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
  </div>
  <div class="col-sm-6 rating-container english d-flex justify-content-between">
    <div class="skill-name-container">English</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 rating-container german d-flex justify-content-between">
    <div class="skill-name-container">German</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="col-sm-6 rating-container d-flex justify-content-between">
    <div></div>
    <div class="">
    </div>
  </div>
</div>
