{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm">
    <div class="jumbotron jumbotron-fluid" id="jumbotron-profile">
      <div class="container">
        <h1 class="display-4">Abilities</h1>
        <h5 class="sub-title-about" id="skills">Skills</h5>
          {% include "abilities/_skills.html" %}
        <h5 class="sub-title-details" id="tools">Tools</h5>
          {% include "abilities/_tools.html" %}
        <h5 class="sub-title-details" id="languages">Languages</h5>
          {% include "abilities/_languages.html" %}
      </div>
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>

{% endblock %}
