{% load static %}

<h5 class="sub-title-about" id="skills">Skills</h5>
<div class="row">
  <div class="col-sm-6 rating-container html d-flex justify-content-between">
    <div class="skill-name-container">HTML</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="col-sm-6 rating-container css d-flex justify-content-between">
    <div class="skill-name-container">CSS</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 rating-container js d-flex justify-content-between">
    <div class="skill-name-container">Java Script</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="col-sm-6 rating-container jq d-flex justify-content-between">
    <div class="skill-name-container">jQuery</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 rating-container react d-flex justify-content-between">
    <div class="skill-name-container">React JS</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="col-sm-6 rating-container redux d-flex justify-content-between">
    <div class="skill-name-container">PostgreSQL</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 rating-container python d-flex justify-content-between">
    <div class="skill-name-container">Python</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="col-sm-6 rating-container django d-flex justify-content-between">
    <div class="skill-name-container">Django</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 rating-container bootstrap d-flex justify-content-between">
    <div class="skill-name-container">Bootstrap</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="col-sm-6 rating-container git d-flex justify-content-between">
    <div class="skill-name-container">Git</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 rating-container postgresql d-flex justify-content-between">
    <div class="skill-name-container">Github</div>
    <div class="">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</div>
