{% extends "base.html" %} {% load static %} {% block content %}
<div class="row">
  <div class="col-sm col-md-2 col-lg-2"></div>
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="jumbotron jumbotron-fluid regular-pages">
      <div class="container">
        <h1 class="page-title">Projects</h1>
        <h5 class="sub-title"></h5>
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="width: 100%">
              <img
                src="{% static 'pictures\indecisionapp.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Indecision App</h5>
                <p class="card-text">
                  My very first react app done as the part of Udemy course.
                </p>
                <a
                  href="https://indecision-app-c7024.web.app/"
                  class="btn btn-primary"
                  style="margin-bottom: 15px; width: 100%"
                  target="_blank"
                  >Production version</a
                >
                <a
                  href="https://github.com/TomRichtr/indecision-app-react"
                  class="btn btn-warning"
                  style="width: 100%"
                  target="_blank"
                  >Github repository</a
                >
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="width: 100%">
              <img
                src="{% static 'pictures\sentenceapp.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Sentence Game</h5>
                <p class="card-text">
                  Small app, and my first contact with redux and hooks.
                </p>
                <a
                  href="https://sentence-game-ee154.web.app/"
                  class="btn btn-primary"
                  style="margin-bottom: 15px; width: 100%"
                  target="_blank"
                  >Production version</a
                >
                <a
                  href="https://github.com/TomRichtr/sentence-game-react"
                  class="btn btn-warning"
                  style="width: 100%"
                  target="_blank"
                  >Github repository</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="width: 100%">
              <img
                src="{% static 'pictures\cashflow.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Cash Flow</h5>
                <p class="card-text">
                  An react app. Libraries and tools used: react hooks, react
                  hooks form, typescript, redux persist, react bootstrap,
                  i18next localization library, firestore and firebase.
                </p>
                <a
                  href="https://budget-app-react-8270b.web.app/"
                  class="btn btn-primary"
                  style="margin-bottom: 15px; width: 100%"
                  target="_blank"
                  >Production version</a
                >
                <a
                  href="https://github.com/TomRichtr/cash-flow_app_react"
                  class="btn btn-warning"
                  style="width: 100%"
                  target="_blank"
                  >Github repository</a
                >
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="width: 100%">
              <img
                src="{% static 'pictures\cashflow.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Basket App</h5>
                <p class="card-text">
                  An vue app. Libraries and tools used: Vuex, Vue Bootstrap,
                  Axios, Firebase auth and real-time database API.
                </p>
                <a
                  href="https://basket-app-68045.web.app/"
                  class="btn btn-primary"
                  style="margin-bottom: 15px; width: 100%"
                  target="_blank"
                  >Production version</a
                >
                <a
                  href="https://github.com/TomRichtr/basket_app_vue"
                  class="btn btn-warning"
                  style="width: 100%"
                  target="_blank"
                  >Github repository</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="width: 100%">
              <img
                src="{% static 'pictures\cashflow.jpg' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Git-list App</h5>
                <p class="card-text">
                  An vue app. Libraries and tools used: Vuex, Vue Bootstrap,
                  Axios and GitHub API.
                </p>
                <a
                  href="https://git-list-aae29.web.app/"
                  class="btn btn-primary"
                  style="margin-bottom: 15px; width: 100%"
                  target="_blank"
                  >Production version</a
                >
                <a
                  href="https://github.com/TomRichtr/git-list_app_vue"
                  class="btn btn-warning"
                  style="width: 100%"
                  target="_blank"
                  >Github repository</a
                >
              </div>
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>

    <div class="col-sm col-md-2 col-lg-2"></div>
  </div>
</div>
{% endblock %}
