{% extends "base.html" %}
{% load static %}

{% block content %}
<canvas id="canvas"></canvas>
<div class="background-container" style="background-image: url('{% static 'pictures/header_picture.jpg' %}')">
  <div class="jumbotron jumbotron-fluid" id="jumbotron-index">
    <div class="container">
      <h1 class="display-4 index-name">Web-inner.cz</h1>
      <p class="lead index-subtitle">Tomáš Richtr</p>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{% static 'js/base.js' %}"></script>

{% endblock %}
