.index-name {
  text-shadow: 0px 0px 10px black;
  margin-top: 90px;
  color:white;
  font-size: 3.5rem;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.lead {
  text-shadow: 0px 0px 10px black;
  text-align: right;
}

.jumbotron.jumbotron-fluid {
  background: none;
  color: white;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top{
  background-color: #1B2627;
}

.fas.fa-phone-alt {
  margin-left: 1px;
  margin-right: 16px;
  color:#eac700;
}

.fas.fa-envelope {
  margin-left: 1px;
  margin-right: 17px;
  color:#eac700;
}

.fab.fa-skype {
  margin-left: 3px;
  margin-right: 20px;
  color:#eac700;
}

.alert {
  color: black;
  border-radius: 5px;
  background-color: #eac700;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 12px 16px;
  position: fixed;
  top: 75px;
  right: 16px;
  display: none;
}

.fas.fa-grip-lines-vertical {
  margin-left: 6.5px;
  color: #eac700;
}

body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.background-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#canvas {
  position: fixed;
  top: 70%;
  left: 0;
}

.menu-link:hover {
  text-shadow: 0px 0px 20px white;
  text-decoration: underline;
}

.card {
  border-top-color: #c4c4c4;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 50px;
}

.alert-danger {
  padding-left: 13px;
  margin-bottom: 12px;
}

#characters {
  color: black;
  font-size: 0.85em;
}

.contacts-container {
  display: flex;
  margin-bottom: 10px;
  padding:0;
  cursor: pointer;
  text-decoration: underline;
}

.contacts-container:hover {
  color:#eac700;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23eac700' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23eac700' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.page-title.message-list {
  margin-top: 90px;
}

.top-line {
  font-weight: bold;
}

.skill-name-container {
  color: black;
}

.page-title {
  margin-top: 25px;
  color: #eac700;
  font-size: 3.5rem;
}

.checked {
  color: #eac700;
}

.rating-container:hover {
  background-color: #fff2a9;
  font-weight: bold;
}

.carousel-indicators {
  bottom: -24px;
}

.carousel-inner {
  margin-bottom: 50px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
}

.carousel-indicators .active {
  background-color: #eac700;
}

.carousel-indicators li {
  background-color: #eac700;
  height: 8px;
  width: 55px;
}

.place:hover {
  color: #eac700;
}

.place {
  color: #354042;
  text-decoration: underline;
}

.text {
  text-align: justify;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 20px;
}

.jumbotron.jumbotron-fluid.regular-pages {
  background: none;
  color: #354042;
}

.sub-title {
  border-top-color: #c4c4c4;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 17px;
}

.sub-title.certificates {
  margin-bottom: 5px;
}
