{% load static %}

<h5 class="sub-title-details">Careers</h5>
<div class="row">
  <div class="col-sm-3">
    <p class="text text-left"><strong>Nov 2018 - Apr 2020</strong></p>
  </div>
  <div class="col-sm-9">
    <p class="text text-justify top-line">DSV Air & Sea s.r.o. <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="https://goo.gl/maps/hw5d97GjMvdaYDRNA" class="text place" target="_blank"><i class="fas fa-map-marker-alt"></i> Prague</a></p>
    <p class="text text-justify">Control Tower Lead - Starbucks</p>
    <p class="text">Logistic Control Tower managing customer´s (Starbucks) orders of green coffee and tea from East Africa.</p>
    <ul class="text career-list">
      <li>Oversight over shipping phases and general compliance of customer´s standards.</li>
      <li>Being main point of contact for exporting BUs, suppliers, carriers and customer´s BUs.</li>
      <li>Supporting of key account management team in securing of continuous improvement.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p class="text text-left"><strong>Feb 2018 – Dec 2019</strong></p>
  </div>
  <div class="col-sm-9">
    <p class="text text-justify top-line">Panalpina Business Services Prague s.r.o. <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="https://goo.gl/maps/VC7LesZcuq9EFmyw7" class="text place" target="_blank"><i class="fas fa-map-marker-alt"></i> Prague</a></p>
    <p class="text text-justify">Team Lead – Traffic Analysts</p>
    <p class="text">Team Leader of 9-person team – Traffic Analysts. The team responsible for reporting and data quality related tasks.</p>
    <ul class="text career-list">
      <li>Delivery of targets to set KPIs and compliance of standards.</li>
      <li>Communication with customer(s), carriers, vendors and/or other 3rd parties.</li>
      <li>Day to day staff management.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p class="text text-left"><strong>Jan 2017 – Jan 2018</strong></p>
  </div>
  <div class="col-sm-9">
    <p class="text text-justify top-line">Panalpina Business Services Prague s.r.o. <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="https://goo.gl/maps/VC7LesZcuq9EFmyw7" class="text place" target="_blank"><i class="fas fa-map-marker-alt"></i> Prague</a></p>
    <p class="text text-justify">Supervisor - SAP TM CSR Maintenance</p>
    <p class="text">A supervisor of 5-person team – SAP TM CSR Maintenance. The team responsible for upload / maintenance of selling rates into SAP TM.</p>
    <ul class="text career-list">
      <li>CSR (corporate selling rates) upload/maintenance of global accounts.</li>
      <li>Mapping of various excel rate-card templates into unified SAP TM template.</li>
      <li>Solving of tickets regarding issues with rates in SAP TM.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p class="text text-left"><strong>Sep 2015 – Oct 2015</strong></p>
  </div>
  <div class="col-sm-9">
    <p class="text text-justify top-line top-line">Panalpina Business Services Prague s.r.o. <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="https://goo.gl/maps/VC7LesZcuq9EFmyw7" class="text place" target="_blank"><i class="fas fa-map-marker-alt"></i> Prague</a></p>
    <p class="text text-justify">Process Expert – Invoicing Support</p>
    <p class="text">A member of team – Incoming Invoicing. The team responsible for validation of incoming invoices from other logistic forwarders.</p>
    <ul class="text career-list">
      <li>Checking incoming invoices from various logistics service providers.</li>
      <li>Disputing/confirming/rejecting incoming invoices based on their correctness.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p class="text text-left"><strong>Jul 2014 – Aug 2015</strong></p>
  </div>
  <div class="col-sm-9">
    <p class="text text-justify top-line">Panalpina Business Services Prague s.r.o. <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="https://goo.gl/maps/VC7LesZcuq9EFmyw7" class="text place" target="_blank"><i class="fas fa-map-marker-alt"></i> Prague</a></p>
    <p class="text text-justify">Clerk – Managed Solutions</p>
    <p class="text">A member of team GoodYear – Managed Solutions. The team responsible for data maintenance in 3PL logistic system and export customs clearance.</p>
    <ul class="text career-list">
      <li>Data entry to 3PL shipment visibility platform from various transport documents.</li>
      <li>Transmitting data and following up export customs releases.</li>
    </ul>
  </div>
</div>
