{% load static %}

<h5 class="sub-title-details">Courses</h5>
<div class="row">
  <div class="col-sm-3 text">
    <p class="text text-left"><strong>Jun 2020</strong></p>
  </div>
  <div class="col-sm-9 text">
    <p class="text text-left top-line">Udemy <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="http://ude.my/UC-b9233f29-e19a-498f-8caf-5b18fc612e89" class="text place" target="_blank"><i class="fas fa-external-link-alt"></i> Credential URL</a></p>
    <p class="text text-left">Python and Django Full Stack Web Developer Bootcamp</p>
    <p class="text text-left">Credential ID: UC-b9233f29-e19a-498f-8caf-5b18fc612e89</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text">
    <p class="text text-left"><strong>Jun 2020</strong></p>
  </div>
  <div class="col-sm-9 text">
    <p class="text text-left top-line">Udemy <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="http://ude.my/UC-c85d25e5-0225-4e1b-82ba-a6b67b022cf1" class="text place" target="_blank"><i class="fas fa-external-link-alt"></i> Credential URL</a></p>
    <p class="text text-left">Complete Python 3 Bootcamp</p>
    <p class="text text-left">Credential ID: UC-c85d25e5-0225-4e1b-82ba-a6b67b022cf1</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text">
    <p class="text text-left"><strong>Apr 2020</strong></p>
  </div>
  <div class="col-sm-9 text">
    <p class="text text-left top-line">Udemy <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="http://ude.my/UC-714bedaa-cbec-4edd-a1bc-bdf593a697b7" class="text place" target="_blank"><i class="fas fa-external-link-alt"></i> Credential URL</a></p>
    <p class="text text-left">Complete SQL Bootcamp</p>
    <p class="text text-left" id="certificates">Credential ID: UC-714bedda-cbec-4edd-a1bc-bdf593a697b7</p>
  </div>
</div>
