{% load static %}

<h5 class="sub-title-about">Education</h5>
<div class="row">
  <div class="col-sm-3 text">
    <p class="text text-left"><strong>Oct 2012 – Jun 2014</strong></p>
  </div>
  <div class="col-sm-9 text">
    <p class="text text-justify top-line">University Jana Evangelista Purkyne <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="https://goo.gl/maps/DD6G5HMrVi1bWqef7" class="text place" target="_blank"><i class="fas fa-map-marker-alt"></i> Ústí nad Labem</a></p>
    <p class="text text-justify">Financial management <i class="fas fa-grip-lines-vertical"></i> University - Master's degree</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text">
    <p class="text text-left"><strong>Oct 2011 – Jun 2012</strong></p>
  </div>
  <div class="col-sm-9 text">
    <p class="text text-justify top-line">Business College of Tourism <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="https://goo.gl/maps/nrdEgU4G7Yq9URun9" class="text place" target="_blank"><i class="fas fa-map-marker-alt"></i> Prague</a></p>
    <p class="text text-justify">Economics of tourism <i class="fas fa-grip-lines-vertical"></i> Business College - Bachelor´s degree</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text">
    <p class="text text-left"><strong>Sep 2008 – Jun 2011</strong></p>
  </div>
  <div class="col-sm-9 text">
    <p class="text text-justify top-line">Higher College of Business Studies <i class="fas fa-grip-lines-vertical"></i>&nbsp; <a href="https://goo.gl/maps/HX5XEizFhhpKXYgu8" class="text place" target="_blank"><i class="fas fa-map-marker-alt"></i> Most</a></p>
    <p class="text text-justify" id="courses">Business/Managerial Economics <i class="fas fa-grip-lines-vertical"></i> Higher Technical College - Dip. Specialist</p>
  </div>
</div>
