{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm">
    <div class="jumbotron jumbotron-fluid" id="jumbotron-profile">
      <div class="container">
        <h1 class="display-4" id="experiences">Experiences</h1>
        <p class="lead text-dark"></p>
        {% include "experiences/_courses.html" %}
        {% include "experiences/_certificates.html" %}
        {% include "experiences/_education.html" %}
        {% include "experiences/_careers.html" %}
      </div>
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>

{% endblock %}
