{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
  <div class="col-sm col-md col-lg-2"></div>
  <div class="col-sm-12 col-md-12 col-lg">
    <div class="jumbotron jumbotron-fluid regular-pages">
      <h1 class="page-title">Please Login:</h1>
      <p class="lead text-dark">You did not created an account yet?</p>
      {% if form.errors %}
      <div class="alert-danger" role="alert">Your username and password didn't match. Please try again!</div>
      {% endif %}
      <form method="POST" action="{% url 'blog:login' %}">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class='btn btn-secondary btn-lg btn-block' value="Login" />
      </form>
      <a href="{% url 'blog:signup' %}"><button class='btn btn-secondary btn-lg btn-block sign-up-button' value="SignUp">Doesn´t have an account yet? Sign up.</button></a>
    </div>
  </div>
  <div class="col-sm col-md col-lg-2"></div>
</div>

{% endblock %}
