{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm">
    <h1 class="display-5">Message list</h1>
    {% for message in object_list %}
    <h5 class="sub-title-details"></h5>
    <div class="card">
      <h5 class="card-header">{{message.email}} / {{message.phone}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{message.created_date}}</h5>
        <p class="card-text">{{message.text}}</p>
        <a href="{% url 'personal_website:delete' message.id %}" class="btn btn-secondary btn-lg btn-block">Delete</a>
      </div>
    </div>
    {% empty %}
    <h5 class="sub-title-details">No messages available.</h5>
    {% endfor %}
  </div>
  <div class="col-sm-2"></div>
</div>
{% endblock %}
