{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm col-md col-lg-2"></div>
  <div class="col-sm-12 col-md-12 col-lg">
    <div class="jumbotron jumbotron-fluid regular-pages">
      <div class="container">
        <h1 class="page-title">Thank you!</h1>
        <p class="lead text-dark">Your message will be read and replied as soon as possible!</p>
      </div>
    </div>
  </div>
  <div class="col-sm col-md col-lg-2"></div>
</div>
{% endblock %}
